.background-top{
    position: fixed;
    top: 0%;
	width:100%;
	height: 80px;
    background: #f08300;
    left: 0%;
}
/* hamburger(ハンバーガーアイコン)===================================== */
.hamburger {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  z-index: 300;
}

.hamburger__line {
  position: absolute;
  width: 50px;
  height: 3px;
  right: 0;
  background-color: #fff;
  transition: all 0.5s;
}

.hamburger__line--1 {
  top: 1px;
}

.hamburger__line--2 {
  top: 18px;
}

.hamburger__line--3 {
  top: 36px;
}

/*ハンバーガーがクリックされたら*/
.open .hamburger__line--1 {
  transform: rotate(-45deg);
  top: 11px;
}

.open .hamburger__line--2 {
  opacity: 0;
}

.open .hamburger__line--3 {
  transform: rotate(45deg);
  top: 11px;
}

/* sp-nav(ナビ)===================================================== */
.sp-nav {
  position: fixed;
  right: -100%; /*ハンバーガーがクリックされる前はWindow右側に隠す*/
  top: 0;
  width: 70%; /* 出てくるスライドメニューの幅 */
  height: 100vh;
  background-color: #f08300;
  transition: all 0.5s;
  z-index: 200;
  overflow-y: auto; /* メニューが多くなったらスクロールできるように */
  font-family: sans-serif;
}

/*ハンバーガーがクリックされたら右からスライド*/
.open .sp-nav {
  right: 0;
}


/* black-bg(ハンバーガーメニュー解除用bg)================================*/
.black-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  cursor: pointer;
  z-index: 100;
}

/*ハンバーガーメニューが開いたら表示*/
.open .black-bg {
  opacity: 0.3;
  visibility: visible;
}

.name1 {
    position: absolute;
    top: 90px;
    padding: 1rem 2rem;
    border-left: 4px dotted #000;
    color: #565656;
}
.name1 p { 
    font-weight: bold;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    margin: 0 auto;
}

.name2 {
    position: absolute;
    top: 170px;
    left: 13px;
    margin: 0 auto;
    color: #565656;
    background: #badcad;
    box-shadow: 0px 0px 0px 10px #badcad;
    border-radius: 8px;
    width: 93%;
}
.name2 p { 
    padding: 0%;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0 auto;
}
.name3 {
    position: absolute;
    top: 560px;
    left: 13px;
    margin: 0 auto;
    color: #565656;
    background: #badcad;
    box-shadow: 0px 0px 0px 10px #badcad;
    border-radius: 8px;
    width: 93%;
}
.name3 p { 
    padding: 0%;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0 auto;
}
.name4 {
    position: absolute;
    top: 920px;
    left: 13px;
    margin: 0 auto;
    color: #565656;
    background: #badcad;
    box-shadow: 0px 0px 0px 10px #badcad;
    border-radius: 8px;
    width: 93%;
}
.name4 p { 
    padding: 0%;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0 auto;
}
.name5 {
    position: absolute;
    top: 1280px;
    left: 13px;
    margin: 0 auto;
    color: #565656;
    background: #badcad;
    box-shadow: 0px 0px 0px 10px #badcad;
    border-radius: 8px;
    width: 93%;
}
.name5 p { 
    padding: 0%;
    font-weight: bold;
    font-family: sans-serif;
    margin: 0 auto;
}

form{
    font-family: sans-serif;
}
.score{
    background-color: #f5cc9e;
    border-radius: 8px;
}

.name6 {
    position: absolute;
    top: 1780px;
    padding: 1rem 2rem;
    border-left: 4px dotted #000;
    color: #565656;
}
.name6 p { 
    font-weight: bold;
    font-family: sans-serif;
    font-size: 18px;
    text-align: left;
    margin: 0 auto;
}
.hantei1{
    position: absolute;
    top: 1850px;
    font-family: sans-serif;
}
.under{
    position: absolute;
    top: 2400px;
    width:100%;
	height: 20px;
    background-color: #fff;

}